:root {
  --one-color: rgb(0, 8, 20);
  --two-color: rgb(0, 29, 61);
  --three-color: rgb(0, 53, 102);
  --four-color: rgb(255, 195, 0);
  --five-color: rgb(255, 214, 10);
  /* url color palette: https://coolors.co/palette/000814-001d3d-003566-ffc300-ffd60a */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Permanent Marker", cursive;
  color: var(--four-color);
}

p {
  font-family: "Cormorant Garamond", serif;
  color: var(--five-color);
}

body {
  background-color: var(--one-color);
}

header {
  margin: 1rem auto;
  display: grid;
  border-bottom: 0.1rem solid var(--five-color);
}

nav {
  display: flex;
  flex-direction: row;
}

#menu {
  margin-top: 3rem;
}

#logo {
  grid-column: 1/2;
  margin-right: 15rem;
  margin-left: 20rem;
  width: 8rem;
}

#menu a {
  grid-column: 2/3;
  text-decoration: none;
  color: var(--four-color);
  box-sizing: border-box;
  border: 0.1875rem solid var(--five-color);
  /*3px -> 0.1875rem */
  padding: 0.625rem 1.25rem;
  /* 10px 20px -> 0.625rem 1.25rem */
  margin-right: 3.125rem;
  /* 50px -> 3.125rem */
  border-radius: 0.1875rem;
  /* 3px -> 0.1875rem */
}


.hero,
.home_hero {
  position: relative;
  overflow: hidden;
}

.hero h1,
.home_hero h1 {
  position: absolute;
  white-space: nowrap;
  text-align: center;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 8, 20, 0.8);
  padding: 0.625rem;
  /* 10px -> 0.625rem */
  border-radius: 0.3125rem;
  /* 5px -> 0.3125rem */
  width: 100%;
  font-size: 2.5rem;
  /* 40px -> 2.5rem */
  z-index: 1;
}

.hero article {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  background-color: rgb(0, 8, 20, 0.8);
  padding: 0.625rem;
  /* 10px -> 0.625rem */
  border-radius: 0.3125rem;
  /* 5px -> 0.3125rem */
  transform: translate(0%, 70%);
}

.hero article h2,
.hero article p {
  font-size: 1.875rem;
  /* 30px -> 1.875rem */
}

.hero img,
.home_hero img {
  width: 100%;
  display: block;
  padding: 0;
  margin-bottom: 1rem;
}

.hero img {
  height: auto;
}

.home_hero img {
  z-index: -1;
  /* this is a mask to get a fade in the main image, but the CSS validator recognized it as a invalid one 
  mask-image: linear-gradient(to bottom, rgb(0, 29, 61) 35%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, rgb(0, 53, 102) 35%, transparent 100%);
  */
  height: 50rem;
}

.hero article img {
  max-width: 100%;
  width: 31.25rem;
  /* 500px -> 31.25rem */
  float: right;
  box-sizing: border-box;
  margin-right: 1.25rem;
  /* 20px -> 1.25rem */
  margin-top: 0.3125rem;
  /* 5px -> 0.3125rem */
}

.section_1 video {
  max-width: 100%;
  grid-column: 2/3;
}

.section_1 h2 {
  text-align: center;
  grid-column: 2/3;
  font-size: 2rem;
}

.section_1 {
  display: grid;
  border: 0.125rem solid var(--four-color);
  margin-bottom: 2rem;
}

#p1 {
  grid-column: 1/2;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.5rem;
}

#p2 {
  grid-column: 3/4;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.5rem;
}

.section_2 {
  border: 0.125rem solid var(--four-color);
  max-width: 100%;
}

.section_2 div {
  display: flex;
  flex-flow: row;
}

.section_2 img {
  width: 250px;
  height: 150px;
  object-fit: cover;
}

.section_2 h2 {
  text-align: center;
}

.figure_contact,
.about_figure {
  border: solid var(--five-color);
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 250px;
  margin: auto;
  margin-bottom: 1rem;
}

.about,
.contact {
  background-color: #c0c0c0;
  color: #000814;
  padding: 3px;
  text-align: center;
}

footer {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  text-align: justify;
  margin-top: 0.9375rem;
  /* 15px -> 0.9375rem */
  border-top: 0.125rem solid var(--four-color);
  /* 2px -> 0.125rem */
}

#COPY {
  text-align: center;
  grid-column: 2/3;
}

footer div img {
  width: 1.875rem;
  /* 30px -> 1.875rem */
  margin-right: 0.3125rem;
  /* 5px -> 0.3125rem */
  margin-top: 0.3125rem;
  /* 5px -> 0.3125rem */
  text-decoration: none;
}

footer .above_logos {
  grid-column: 3/4;
  text-align: right;
}

/*CONTACT US PAGE CSS*/

/* wireframe: https://app.moqups.com/P98oxsB5EgYpjSCwr787rS0fbnONOGwm/view/page/ac1a5c63c */

.information {
  font-size: 20px;
  position: relative;
  max-width: 800px;
  height: 768px;
  margin: 0;
  border-radius: 0.5rem;
  background-image: url("images_styles/vertical_rafting.webp");
  background-size: cover;
  background-position: center;
}

.information_text {
  background-color: rgb(0, 8, 20, 0.8);
  padding: 0.625rem;
  border-radius: 0.3125rem;
}

.Address,
.phone_number,
.email_a {
  background-color: rgb(0, 8, 20, 0.8);
  padding: 0.625rem;
  border-radius: 0.3125rem;
  width: 300px;
}

#h1_contact {
  margin-left: 2rem;
  font-size: 2.5rem;
}

#contact_us {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: start;
  gap: 1rem;
}

#contact_us div {
  margin: 1rem;
  padding: 1rem;
  color: var(--five-color);
}

.google_map {
  position: relative;
  float: right;
  margin-top: -450px;
  margin-right: 10px;
  width: 320px;
  height: 350px;
  border: none;
  border-radius: 0.5rem;
}

.CONTACT_MESSAGE {
  max-width: 1000px;
  max-height: 785px;
  border-radius: 0.5rem;
  background-color: rgba(0, 29, 61, 0.622);
  padding: 1rem;
}

#TITLE_SEND {
  font-size: 1.5rem;
  margin-bottom: -3rem;
  margin-top: 0;
}

.name,
.email,
.checkbox,
.ACTION,
.message {
  border-radius: 0.2rem;
  margin: 0;
  background-color: rgba(0, 53, 102, 0.662);
}

.name,
.email,
.checkbox {
  display: flex;
}

.CONTACT_MESSAGE label {
  margin-right: 1rem;
}

.ACTION div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.message textarea {
  width: 230px;
}

p,
label {
  font-weight: bold;
}

.ACTION input {
  width: 20px;
}

#subscribe_contact {
  width: 70px;
}

button {
  display: flex;
  background-color: var(--two-color);
  color: var(--five-color);
  border-radius: .5rem;
  padding: .75rem;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 15px;
}

button:hover {
  background-color: rgba(36, 2, 255, 0.781);
}

.employees figcaption {
  background-color: #c0c0c0;
  color: #000814;
  padding: 3px;
  text-align: center;

}

.employees figure {
  border: solid var(--five-color);
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 250px;
  max-height: 260px;
  margin: auto;
  margin-bottom: 1rem;
}

#Mandy img {
  max-height: 230px;
}

.newsletter_form {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}

.information_form {
  font-size: 40px;
  grid-column: 1/2;
  background-image: url("images_styles/vertical_rafting.webp");
  background-size: cover;
  border-radius: 1rem;
}

.information_form p {
  max-width: 1000px;
  border-radius: 0.5rem;
  background-color: rgb(0, 8, 20, 0.8);
  padding: 1rem;
  margin-bottom: 70px;
}

.form {
  grid-column: 2/3;
  background-color: var(--two-color);
  border-radius: 1rem;
}

.form input {
  font-size: 20px;
  margin: 0;
  padding: 0.1rem;
  border-radius: 0.5rem;
}

.form label {
  font-weight: bold;
  margin-right: 1rem;
  font-size: 40px;
  color: var(--four-color);
  margin-left: 1rem;
}

.form div {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

#HOME_BUTTON {
  margin-left: 45%;
  margin-top: -30px;
  margin-bottom: 10px;
}

#subscribe_home {
  width: 200px;
  height: 30px;
}

.home_article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin-top: 2rem;
}


.POINT_6_1 h2,
.POINT_6_2 h2,
.POINT_6_3 h2 {
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
}

.POINT_6_1 p,
.POINT_6_2 p,
.POINT_6_3 p {
  text-align: center;
  font-size: 2rem;
}

.POINT_6_1 img {
  width: 450px;
  height: 310px;
}

.POINT_6_2 img, .POINT_6_3 img {
  width: 380px;
  height: 310px;
}
.POINT_6_2 figure, .POINT_6_3 figure{
  margin-top: 7rem;
}

.f_home {
  border: solid var(--five-color);
  padding: 4px;
}

.figcaption_home{
  background-color: #c0c0c0;
  color: #000814;
  padding: 3px;
  text-align: center;
}