:root {
    --one-color: rgb(0, 8, 20);
    --two-color: rgb(0, 29, 61);
    --three-color: rgb(0, 53, 102);
    --four-color: rgb(255, 195, 0);
    --five-color: rgb(255, 214, 10);
    /* url color palette: https://coolors.co/palette/000814-001d3d-003566-ffc300-ffd60a */
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Permanent Marker", cursive;
}

p {
    font-family: "Cormorant Garamond", serif;
}

#video {
    position: absolute; /* Posiciona el video para que cubra todo */
    top: 0;
    left: 0;
    width: 100%; /* El video cubre todo el ancho de la pantalla */
    height: 100vh; /* El video cubre toda la altura de la pantalla */
    object-fit: cover; /* Asegura que el video cubra el área sin distorsionarse */
    z-index: -1; /* El video va al fondo */
}

/* Asegurarse de que el contenedor <header> esté en posición relativa */
header {
    position: relative;
    height: 100vh; /* Asegura que el header tenga al menos el tamaño de la pantalla */
}

/* Estilo del logo */
#logo {
    display: block;
    height: 120px;
}

/* Estilo del contenedor del logo */
#logo-nav {
    position: absolute;
    top: 20px; /* Ajusta la distancia desde la parte superior */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    z-index: 1; /* El logo debe estar encima del video */
}
nav{
    position: absolute;
    top: 20px; /* Ajusta la distancia desde la parte superior */
    left: 100px;
    transform: translateX(-50%);
    z-index: 1; /* El logo debe estar encima del video */
}

#menu {
    text-align:right; 
    position: absolute;
    top: 45px;
    left: 600px;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    flex-wrap: nowrap;
}

#menu a {
    color: var(--one-color);
    padding: 10px 40px;
    border: 2px solid var(--one-color);
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-right: 20px;
    white-space: nowrap;
}


body {
    background-color: var(--one-color);
}

footer {
    margin: 1px;
    border-top: 2px solid var(--four-color);
    text-align: center;
    color: var(--four-color);
}