:root {
    --one-color: rgb(0, 8, 20);
    --two-color: rgb(0, 29, 61);
    --three-color: rgb(0, 53, 102);
    --four-color: rgb(255, 195, 0);
    --five-color: rgb(255, 214, 10);
    /* url color palette: https://coolors.co/palette/000814-001d3d-003566-ffc300-ffd60a */
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Permanent Marker", cursive;
}

p {
    font-family: "Cormorant Garamond", serif;
}

#video {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    object-fit: cover; 
    z-index: -1; 
}


header {
    position: relative;
    height: 100vh; /* ALL THE SIZE of the web*/
}


#logo {
    display: block;
    height: 120px;
}

/* style of the logo */
#logo-nav {
    position: absolute;
    top: 20px; 
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    z-index: 1; /* put the logo up of the video */
}

nav{
    position: absolute;
    top: 20px; 
    left: 100px;
    transform: translateX(-50%);
    z-index: 1; 
}

#menu {
    text-align:right; 
    position: absolute;
    top: 45px;
    left: 600px;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    flex-wrap: nowrap;
}

#menu a {
    color: var(--one-color);
    padding: 10px 40px;
    border: 2px solid var(--one-color);
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-right: 20px;
    white-space: nowrap;
}


body {
    background-color: var(--one-color);
}

footer {
    margin: 1px;
    border-top: 2px solid var(--four-color);
    text-align: center;
    color: var(--four-color);
}