:root {
    --one_color: darkblue;
    --two_color: steelblue;
    --title_color: darkblue;
    --font-color: white;
    --g-padding: 10px;
}

*{
    margin: 1px;
    padding: 1px;
}
header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    padding: 1rem;
    background-color: var(--two_color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {   
    display: block;
    color: var(--font-color);
    padding: var(--g-padding);
    text-decoration: none;
    font-size: 700;
    border: solid white 2px;
}

h1 {
    color: var(--two_color);
    border-bottom: var(--two_color)solid 2px;
    padding: var(--g-padding);
}

img {
    width: 50px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

main {
    max-width: 840px;
    grid-column: 2/3;
    margin: 1rem;
}

main img {
    width: 200px;
    height: auto;
    padding: 2px;
}

aside {
    width: 20rem;
    position:relative;
    grid-column:1/2; 
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
      
}
aside h2 {
    position: absolute;  
    left: 185px;
}

p {
    padding: 2px;
}

footer {
    background-color: white;
    margin-top: 15px;
    border-top: 2px solid var(--two_color);
    text-align: center;
    color: black;
}

.grid {
    display: grid;
    align-items: center;
}

/* CLASS SELECTORS*/

.box{
    margin: 1rem;
    padding: 1rem;
    border: 2px solid black;
    background-color: var(--two_color);
    color: black;
}
